@using Markdig

<div class="markdown">
    @RenderedMarkdown
</div>

@code {
    [Parameter]
    public string RawMarkdown { get; set; } = "# No Content";
    private MarkupString RenderedMarkdown { get; set; }

    protected override void OnInitialized()
    {
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
        RenderedMarkdown = (MarkupString)Markdown.ToHtml(RawMarkdown, pipeline);
    }
}
