<Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">Not Implemented</JumbotronTitle>
    <Divider></Divider>
    <Paragraph>
        This component is not implemented yet...
    </Paragraph>
</Jumbotron><h3>NotImplementedPrompt</h3>

@code {

}
