@inherits LayoutComponentBase

<PageTitle>Bleezing</PageTitle>

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light">
            <BarBrand>
                Shell of KzAkeley
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink To="/">Home</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="/Articles">Blog</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>Tools</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem>Server Management</BarDropdownItem>
                                <BarDropdownItem>Aria2 GUI</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                </BarStart>
                <BarEnd>
                    <BarItem>
                        <Button Color="Color.Secondary">Sign in</Button>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        <Container Fluid>
            @Body
        </Container>
    </LayoutContent>
    <LayoutFooter Style="background-color:azure; height:100px; text-align: right; padding: 10px 20px 10px 20px">
            <Text>KERNEL IN THE SHELL</Text> <br />
            <Blazorise.Link Target="Target.Blank" To="https://github.com/PixelFrame/"><i class="fa-brands fa-github" /> PixelFrame</Blazorise.Link>
    </LayoutFooter>
</Layout>
